@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@500&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  font-size: 10px;
}

body > .box {
  width: 100%;
  background-color: #fff;
}

body > .box > .heading {
  font-family: 'Black Han Sans', sans-serif;
  color: #333;
  font-size: 5rem;
}

body > .box > .scroll > li {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 3rem;
  display: inline-block;
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 1;
}

body > .box > .scroll > li::after {
  content: "";
  position: absolute;
  border: 0.5rem solid #d44c3f;
  border-radius: 1rem;
}
